In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/home/abdulmalik0x/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [2]:
df_items = pd.read_csv('dataset.csv')

In [3]:
df_items.head()

,ID,best_seller,price,image,bracelet,ring,necklace,earring,choker,pendant,...,sapphires,agate,quartzite,gemstones,spinel,onyx,gem_sum,diamonds,ruby,cry_sum
0,0.0,1.0,SR485,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,1.0,SR620,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2.0,1.0,SR370,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,1.0,SR370,['https://cdn.tous.com/media/catalog/product/c...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,1.0,"SR1,300",['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [7]:
df_items.gemstones.value_counts()

0.0    304
1.0     33
Name: gemstones, dtype: int64

In [9]:
dr_col = ['']

ValueError: Item wrong length 44 instead of 337.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
metadata1 = metadata[metadata.vote_count > 160]
metadata1['overview'] = metadata1['overview'].fillna('')

# rows as movies, and columns as movie words in overview seperated at per column
tfidf_mat = tdidf.fit_transform(metadata1['overview'])
tfidf_mat.shape